<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar produto</title>
        <script type="text/javascript">
            const id_produto = "{{id_produto}}";

            function validar() {
                const descricao = document.getElementById('descricao');
                const cliente = document.getElementById('cliente');
                if (descricao.value === '') {
                    alert("Preencha a descrição.");
                    return false;
                }
                if (cliente.value == "escolha") {
                    alert("Escolha o cliente.");
                    return false;
                }
                return true;
            }

            function salvar() {
                if (!validar()) return;
                document.getElementById("form_principal").submit();
            }

            function excluir() {
                if (!confirm("Você tem certeza?")) return;
                xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/produto/' + id_produto);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.readyState !== 4) return;
                    if (xhr.status === 200 || xhr.status === 404) {
                        document.open();
                        document.write(xhr.responseText);
                        document.close();
                    } else {
                        alert('Erro ' + xhr.status);
                    }
                };
                xhr.send();
            }
        </script>
    </head>
    <body>
        <form action="/produto/{{id_produto}}" method="POST" id="form_principal">
            {% if id_produto != 'novo'%}
                <p>
                    <label>Id:</label>
                    {{id_produto}}
                </p>
            {% endif %}
            <p>
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" autocomplete="off" value="{{descricao}}" />
            </p>
            <p>
                <label for="cliente">Cliente:</label>
                <select name="id_cliente" id="cliente">
                    <option value="escolha">Escolha...</option>
                    {% for cliente in clientes %}
                        <option value="{{cliente['id_cliente']}}" {% if id_cliente == cliente['id_cliente'] %}selected="selected"{% endif %}>{{cliente['nome']}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button type="button" onclick="javascript:salvar();">Salvar</button>
                {% if id_produto != 'novo' %}<button type="button" onclick="javascript:excluir();">Excluir</button>{% endif %}
            </p>
        </form>
        <p><a href="/">Voltar</a></p>
        {% if id_produto != 'novo' %}<form action="/produto/{{id_produto}}" id="delt" method="DELETE" style="display: none"></form>{% endif %}
    </body>
</html>
