<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Areas</title>
    </head>
    <body>
        <h1>Areas:</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Descrição</td>
                <td>Nome do cliente</td>
                <td>Sexo do cliente</td>
                <td>&nbsp;</td>
            </tr>
            {% for produto in produtos %}
                <tr>
                    <td>{{produto['id_produto']}}</td>
                    <td>{{produto['descricao']}}</td>
                    <td>{{produto['nome']}}</td>
                    <td>{% if produto['sexo'] == 'M' %}Masculino{% else %}Feminino{% endif %}</td>
                    <td><a href="/produto/{{produto['id_produto']}}">Editar</a></td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="/">Voltar</a></p>
    </body>
</html>